<div class="container">
    <h1>Liste des Clients</h1>


    <form (ngSubmit)="addClient()" class="client-form">
        <mat-form-field>
            <input matInput [(ngModel)]="newClient.cin" name="cin" placeholder="CIN" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="newClient.nom" name="nom" placeholder="Nom" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="newClient.prenom" name="prenom" placeholder="Prénom" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Ajouter</button>
    </form>


    <div *ngIf="selectedClient" class="edit-form">
        <h2>Éditer le Client</h2>
        <form (ngSubmit)="updateClient()">
            <mat-form-field>
                <input matInput [(ngModel)]="selectedClient.cin" name="cin" placeholder="CIN" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="selectedClient.nom" name="nom" placeholder="Nom" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="selectedClient.prenom" name="prenom" placeholder="Prénom" required>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Mettre à jour</button>
            <button mat-raised-button color="warn" (click)="selectedClient = null">Annuler</button>
        </form>
    </div>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="cin">
            <th mat-header-cell *matHeaderCellDef>CIN</th>
            <td mat-cell *matCellDef="let client">{{ client.cin }}</td>
        </ng-container>


        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef>Nom</th>
            <td mat-cell *matCellDef="let client">{{ client.nom }}</td>
        </ng-container>


        <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef>Prénom</th>
            <td mat-cell *matCellDef="let client">{{ client.prenom }}</td>
        </ng-container>


        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let client">
                <button mat-raised-button color="accent" (click)="editClient(client)">Éditer</button>
                <button mat-raised-button color="warn" (click)="deleteClient(client.cin)">Supprimer</button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>