<h2>Ajouter un compte</h2>
<form>
  <label for="rib">RIB:</label>
  <input type="number" id="rib" name="rib" required>

  <label for="solde">Solde:</label>
  <input type="number" id="solde" name="solde" required>

  <label for="nomClient">Nom du client:</label>
  <input type="text" id="nomClient" name="nomClient" required>

  <label for="prenomClient">Prénom du client:</label>
  <input type="text" id="prenomClient" name="prenomClient" required>

  <button type="submit">Ajouter</button>
</form>